<!DOCTYPE html>
<html lang="pt-br">
    
    <%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navBar.ejs') %>
        <h1>Cadastro de clientes</h1>    

        <form action="/register/add" method="POST">
            <div>
                <label>Nome</label>
                <input type="text" name="name" placeholder="Digite seu nome">
            </div>
            <div>
                <label>Idade</label>
                <input type="text" name="age" placeholder="Digite sua idade">
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="email" placeholder="Digite seu Email">
            </div>
            <div>
                <label>Senha</label>
                <input type="text" name="password" placeholder="Digite sua Senha">
            </div>
            <button type="submit">Cadastrar</button>
        </form>

        <% if(typeof message !== 'undefined') { %>
            <%= message %>
        <% } %>



        <%- include('partials/foot.ejs') %>
    </body>
</html>