<header>
    <nav>
        <ul>
            <li>
                <a href="/register">Cadastro de clientes</a>
            </li>
            <li>
                <a href="/list">Listagem de clientes</a>
            </li>    
        </ul>
    </nav>
    
</header>
